<div class="row">
  <div class="col-md-6 mx-auto card p-3">
    <h1 class="display-3 text-center fw-semibold">
      <i class="fa-solid fa-user-plus"></i> Register
    </h1>

    <form action="/auth/register" method="post" class="pt-3">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <div id="username-help" class="form-text my-1">
          Username <strong class="text-danger">can't be changed</strong> later
        </div>
        <input
          type="text"
          class="form-control"
          name="username"
          id="username"
          aria-describedby="username-help"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <p class="pt-3">Have an account? <a href="/auth/login">Login</a></p>
  </div>
</div>
