<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="/"
      ><i class="fa-solid fa-comment-dots"></i> Chat App</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <% if (locals.user) { %>
        <li class="nav-item">
          <form action="/auth/logout?_method=DELETE" method="post">
            <button
              type="submit"
              class="nav-link bg-transparent border border-0"
            >
              <i class="fa-solid fa-right-from-bracket"></i> Logout
            </button>
          </form>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/auth/login"
            ><i class="fa-solid fa-right-to-bracket"></i> Login</a
          >
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
